{% extends 'reports_app/index.html' %}

{% block title %}
    Login
{% endblock %}
{% block h1 %}
    Filter by specific data
{% endblock %}

{% block content %}
    <form id="form_input" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button onclick="check_status()" class="btn btn-success" type="submit" >SAVE</button>
    </form>
{% endblock %}

{% block extrajs %}
    <script>
    function check_status() {
        let status_boolean = document.getElementById('id_status');
        if(status_boolean.checked){
            return status_boolean.value = true;
        }
        return status_boolean.value = false;
    }
    </script>
{% endblock %}
