{% extends 'reports_app/index.html' %}

{% block title %}
    create-file
{% endblock %}
{% block h1 %}
    CREATE FILE
{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-success" type="submit" >SAVE</button>
    </form>
{% endblock %}