{% extends 'reports_app/index.html' %}

{% block title %}
    register-customer
{% endblock %}
{% block h1 %}
    REGISTER CUSTOMER
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-success" type="submit" >SAVE</button>
    </form>
{% endblock %}