<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<table class="table table-dark">
  <thead>
    <tr>
        <th scope="col">Customer</th>
        <th scope="col">Email</th>
        <th scope="col">Option</th>
        <th scope="col">Filename</th>
        <th scope="col">Creation</th>
    </tr>
  </thead>
  <tbody>
   {% if file_parser %}
          {% for file in file_parser %}
    <tr>
        <td>{{file.customer}}</td>
        <td>{{file.email_id}}</td>
        <td>{{file.option}}</td>
        <td>{{file.file}}</td>
        <td>{{file.created_at}}</td>

    </tr>
  {% endfor %}
   {% endif %}
  </tbody>
</table>
<a href="" class="btn btn-success">Generate Report</a>
</body>
</html>