{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    {% block extrahead %}
    {% endblock %}
    <title>{% block title %} BaseTitle {% endblock %}</title>
</head>
<body>
    <div id="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">Project Report</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Register <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'create_custom' %}">Customer</a></li>
                                <li><a href="{% url 'create_file' %}">File</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'filter' %}">Filter</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-arrow-left"></span> Go back</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        </div>
        <div id="footer">
            {% block footer %}
            {% endblock %}
        </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {% block extrajs %}
    {% endblock %}

</body>
</html>